// MEDIA QUERIES FOR BLOG PAGE

// 1150px
@media (max-width: 1150px) {
    // post
    .blogPost {
        width: 70%;
    }
}

// 1050px
@media (max-width: 1050px) {
    // post
    .blogPost {
        width: 75%;
    }
}

// 1000px
@media (max-width: 1000px) {
    // post + comments
    .blog {
        flex-direction: column;
    }
    .blogPost,
    .comments {
        width: 90%;
    }

    // aside
    .blogAside {
        margin: 10% auto;
        width: 80%;
        order: 2;
        display: flex;
        justify-content: space-between;
        .image {
            display: none;
        }
        .mission,
        .recent {
            width: 45%;
        }

        .recent,
        .recent li {
            text-align: right;
        }
    }
}

// 800px
@media (max-width: 800px) {
    // post
    .blogPost {
        .image {
            width: 97.5%;
        }
    }
}

// 700px
@media (max-width: 700px) {
    // aside
    .blogAside {
        flex-direction: column;
        .mission,
        .recent {
            width: 95%;
        }
        .recent li {
            text-align: left;
        }
    }

    // font changes
    .blogAside {
        .mission p,
        .recent li {
            @include fontSize(18);
        }
        .mission h3,
        .recent h3 {
            text-align: center;
            @include fontSize(25);
        }
    }
}

// 650px
@media (max-width: 650px) {
    // post
    .blogPost {
        .image {
            width: 97%;
        }
    }
}

// 550px
@media (max-width: 550px) {
    // header
    header.blog {
        height: 50vh;
        h1 {
        margin-bottom: 30px;
        }
    }

    // post + comments
    .blogPost,
    .comments {
        width: 95%;
    }
    .blogPost {
        .image {
            width: calc(100% + 5px);
            top: -5px;
            margin-bottom: 10%;
            img {
                box-shadow: none;
            }
        }
    }
    
    // font changes
    .blogText p,
    .commentText p {
        @include fontSize(18);
    }

    // form
    .form {
        [type=text],
        [type=email] {
            width: 95%;
            margin-top: 15px;
        }
    }

    // footer
    footer p {
        @include fontSize(16);
    }
}