@media (max-width: 1150px) {
    .contactAside {
        margin-right: 1.5%;
    }
}

@media (max-width: 1000px) {
    .contactAside {
        float: none;
        clear: both;
        padding-top: 50%;
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            width: 33%;
        }
    }
}
