// MEDIA QUERIES FOR CONTACT PAGE

// 1150px
@media (max-width: 1150px) {
    // aside
    .contactAside {
        margin-right: 1.5%;
    }
}

@media (max-width: 1000px) {
    // aside
    .contactAside {
        float: none;
        clear: both;
        padding-top: 60%;
        padding-bottom: 5%;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            width: 50%;
        }
        ul {
            text-align: right;
        }
    }

    // form
    .contactBody {
        .form {
            width: 80%;
        }
    }
}

// 730px
@media (max-width: 730px) {
    // aside
    .contactAside {
        width: 90%;
    }
}

// 656px
@media (max-width: 656px) {
    // header
    header.contact {
        h1 {
            line-height: 1;
            @include fontSize(60)
        }
    }

    // aside
    .contactAside {
        flex-direction: column;
        padding-top: 70%;
        li,
        .icons,
        .email {
            text-align: center;
            width: 100%;
        }
    }
}

// 550px
@media (max-width: 550px) {
    // aside
    .contactAside {
        padding-top: 90%;
         li,
         p {
             @include fontSize(18);
         }
    }

    // footer
    footer p {
        @include fontSize(16);
    }
}

@media (max-width: 475px) {
    .contactAside {
        padding-top: 100%;
    }
}

// 400px
@media (max-width: 400px) {
    // aside
    .contactAside {
        padding-top: 120%;
    }
}
