@media (max-width: 1200px) {
    header.home .image {
        bottom: -20%;
    }
}

@media (max-width: 1000px) {
    header.home {
        .image {
        display: none;
        }
        h1 {
            margin-left: 0;
        }
    }
    .guyana {
        padding: 5% 0%;
        .content {
            justify-content: center;
        }
        .guyanaText {
            width: 100%;
        }
        .image {
            display: none;
        }
    }

    .infoItem {
        width: 100%;
    }

    .travelTips {
        flex-direction: column;
        padding: 0% 5%;
        .travelTipsLeft,
        .travelTipsRight {
        width: 95%;
            .text {
                margin-left: 0;
                width: 100%;
                text-align: center;
            }
            .image {
                width: 85%;
            }
        }
        .travelTipsRight {
            .image {
                margin-left: 20%;
            }
        }
    }
}

@media (max-width: 800px) {
    header.home {
        h1 {
            margin-left: 1%;
        }
    }
    .gallery .image:nth-child(1) {
        display: none;
    }

    .gallery .image {
        width: calc(50% - 2.5%);
    }
}

@media (max-width: 775px) {
    header.home {
        h1 {
            @include fontSize(75);
            margin-bottom: 25%;
            span {
                @include fontSize(42);
            }
        }
    }
}

@media (max-width: 550px) {
    .guyana {
        padding: 20% 0%;
    }
    .guyanaText p,
    .infoText p,
    .travelTips p,
    .freeTrip p {
        @include fontSize(18);
    }

    footer p {
        @include fontSize(16);
    }
    .gallery .image {
        float: none;
        margin-right: 0;
        margin-top: 5%;
        width: 100%;
    }
}

@media (max-width: 500px) {
    header.home {
        height: 50vh;
        h1 {
            display: none;
        }
    }
    .travelTips {
        padding: 10% 5%;
        .image {
            display: none;
        }
    }
}

@media (max-width: 450px) {
    .info {
        padding: 15% 5%;
        .content {
            width: 100%;
        }
    }
    .infoIcon {
        display: none;
    }
    .infoText {
        margin: 5% 0;
    }

    .infoItem {
        margin: 0;
        min-width: 300px
    }

    .infoItem:nth-child(odd) {
    margin: 0;
    }

    .travelTips {
        .travelTipsLeft,
        .travelTipsRight {
            .text {
                text-align: left;
                margin: 15% 0;
                }
            }
    }
    
    .freeTrip {
        padding: 15% 0;
        .content {
            text-align: left;
        }
    }
}
