.content {
    width: 85%;
    // remember to go through and remove more specific instances of this
}

header.home {
    background: url(../assets/homeImage1.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1 {
        display: flex;
        flex-direction: column;
        font-family: 'Playfair Display', serif;
        @include fontSize(111.2);
        font-weight: 900i;
        color: $headerTwo;
        z-index: 10;
        margin-bottom: 10%;
        margin-left: 13%;
        text-transform: uppercase;
        span {
            font-family: 'Lato', sans-serif;
            text-transform: lowercase;
            @include fontSize(62);
            color: $headerOne;
            font-weight: bold;
            line-height: 0.76;
            letter-spacing: 6.7px;
        }
    }
    .image {
        width: 40%;
        min-width: 500px;
        // max-width: 650px;
        position: absolute;
        left: 0;
        bottom: - 25%;
    }
}

.guyana {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 0 5% 0;
    .content {
        display: flex;
        justify-content: space-between;
        width: 85%;
        }
    .guyanaText {
        width: 60%;
        h2 {
            color: $headerOne;
            margin-top: 0;
        }
        p {
            width: 100%;
        }
    }
    .image {
        width: 30%;
        img {
            box-shadow: -20px 20px $primary;

        }
    }
}

.gallery {
    background: $accentLight;
    .content {
        width: 85%;
        padding: 5% 0;
        margin: 0 auto;   
    }
    .image {
        width: calc(33.3% - 2.5%);
        float: left;
        margin-right: 2.5%;
    }
    .image:last-child {
        margin-right: 0;
    }
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.infoItem {
    width: calc(50% - 5%);
    min-width: 400px;
    display: flex;
    margin-bottom: 2.5%;
    h3 {
        margin-top: 0;
    }
}

.infoItem:nth-child(odd) {
    margin-right: 5%;
}

.infoIcon {
    color: $background;
    background: $primary;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-top: 1.5%;
    i {
        text-align: center;
        font-size: 1.5rem;
    }
}

.infoText {
    width: calc(100% - (50px + 5%));
}


.travelTips {
    background: $accentLight;
    display: flex;
    justify-content: space-between;
    h2 {
        color: $headerTwo;
    }
    .image {
        width: 100%;
        position: relative;
    }
    .travelTipsLeft,
    .travelTipsRight {
        width: 42%;
        .text {
            width: 65%;
            margin: 10% 0%;
        }
    }
    .travelTipsLeft {
        .text {
            margin-left: 35%;
            text-align: right;
        }
        .image {
            top: -50px;
            img {
                box-shadow: 20px 20px $primary;
            }
        }
    }
    .travelTipsRight {
        .text {
            margin-right: 35%;
        }
        .image {
            bottom: -50px;
            img {
                box-shadow: -20px 20px $primary;
                
            }
        }
    }
}

.freeTrip {
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        color: $headerOne;
        margin-top: 0px;
    }
    .content {
        text-align: center;
    }
}


