article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  margin: 0 auto;
  max-width: 1600px; }

header {
  background-size: cover;
  height: 75vh;
  max-height: 650px;
  min-height: 300px; }

header.blog,
header.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header.blog h1,
  header.contact h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fafffe;
    line-height: 0.67;
    letter-spacing: 9px;
    font-size: 87px;
    font-size: 4.35rem;
    margin-left: 10%;
    margin-bottom: 200px; }

a {
  text-decoration: none; }

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 35px;
  font-size: 1.75rem;
  line-height: 0.95;
  letter-spacing: 3.8px; }

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 1.95;
  letter-spacing: 3.2px;
  color: #0c5f4c; }

p {
  color: #2c2c2c;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6; }

li {
  list-style: none; }

.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  width: 100%; }
  .headerTop p {
    font-family: 'Playfair Display', serif;
    font-size: 34.6px;
    font-size: 1.73rem;
    color: #50e3c2;
    margin-left: 10%;
    display: inline-block; }
  .headerTop nav {
    width: 30%;
    margin-right: 10%; }
  .headerTop .mobileMenu {
    background: none;
    border: none;
    display: none;
    font-size: 20px;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #fafffe;
    line-height: 1.45; }
    .headerTop .mobileMenu span {
      color: #50e3c2; }
    .headerTop .mobileMenu:hover {
      color: #50e3c2;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
  .headerTop ul.subMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0; }
    .headerTop ul.subMenu a {
      font-size: 20px;
      font-size: 1rem;
      font-weight: 300;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      color: #fafffe;
      margin-right: 10px;
      line-height: 1.45; }
      .headerTop ul.subMenu a:hover {
        color: #50e3c2;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }

.button,
[type=submit] {
  background: #063974;
  color: #fafffe;
  padding: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.93;
  letter-spacing: 2px;
  font-weight: 900i;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
  display: inline-block; }
  .button:hover,
  [type=submit]:hover {
    color: peachpuff;
    -webkit-box-shadow: -10px 10px #50e3c2;
    box-shadow: -10px 10px #50e3c2; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  form [type=text],
  form [type=email] {
    width: 45%;
    border: none;
    border-bottom: 2px solid #50e3c2;
    padding: 2.5%; }
  form [type=submit] {
    width: 100%;
    margin-top: 5%;
    border: none; }

textarea {
  margin-top: 5%;
  width: 100%;
  height: 15%;
  resize: none;
  border: 2px solid #50e3c2;
  padding: 5%; }

[type=text],
[type=email],
textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #2c2c2c; }
  footer p {
    color: #fafffe;
    margin: 0; }

.content {
  width: 85%; }

header.home {
  background: url(../assets/homeImage1.jpg);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header.home h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-size: 111.2px;
    font-size: 5.56rem;
    font-weight: 900i;
    color: #063974;
    z-index: 10;
    margin-bottom: 10%;
    margin-left: 13%;
    text-transform: uppercase; }
    header.home h1 span {
      font-family: 'Lato', sans-serif;
      text-transform: lowercase;
      font-size: 62px;
      font-size: 3.1rem;
      color: #0c5f4c;
      font-weight: bold;
      line-height: 0.76;
      letter-spacing: 6.7px; }
  header.home .image {
    width: 40%;
    min-width: 500px;
    position: absolute;
    left: 0;
    bottom: -25%; }

.guyana {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15% 0 5% 0; }
  .guyana .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 85%; }
  .guyana .guyanaText {
    width: 60%; }
    .guyana .guyanaText h2 {
      color: #0c5f4c;
      margin-top: 0; }
    .guyana .guyanaText p {
      width: 100%; }
  .guyana .image {
    width: 30%; }
    .guyana .image img {
      -webkit-box-shadow: -20px 20px #50e3c2;
      box-shadow: -20px 20px #50e3c2; }

.gallery {
  background: #d2f9f1; }
  .gallery .content {
    width: 85%;
    padding: 5% 0;
    margin: 0 auto; }
  .gallery .image {
    width: calc(33.3% - 2.5%);
    float: left;
    margin-right: 2.5%; }
  .gallery .image:last-child {
    margin-right: 0; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5% 0% 5% 0%; }
  .info .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.infoItem {
  width: calc(50% - 5%);
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5%; }
  .infoItem h3 {
    margin-top: 0; }

.infoItem:nth-child(odd) {
  margin-right: 5%; }

.infoIcon {
  color: #fafffe;
  background: #50e3c2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5%;
  margin-top: 1.5%; }
  .infoIcon i {
    text-align: center;
    font-size: 1.5rem; }

.infoText {
  width: calc(100% - (50px + 5%)); }

.travelTips {
  background: #d2f9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .travelTips h2 {
    color: #063974; }
  .travelTips .image {
    width: 100%;
    position: relative; }
  .travelTips .travelTipsLeft,
  .travelTips .travelTipsRight {
    width: 42%; }
    .travelTips .travelTipsLeft .text,
    .travelTips .travelTipsRight .text {
      width: 65%;
      margin: 10% 0%; }
  .travelTips .travelTipsLeft .text {
    margin-left: 35%;
    text-align: right; }
  .travelTips .travelTipsLeft .image {
    top: -50px; }
    .travelTips .travelTipsLeft .image img {
      -webkit-box-shadow: 20px 20px #50e3c2;
      box-shadow: 20px 20px #50e3c2; }
  .travelTips .travelTipsRight .text {
    margin-right: 35%; }
  .travelTips .travelTipsRight .image {
    bottom: -50px; }
    .travelTips .travelTipsRight .image img {
      -webkit-box-shadow: -20px 20px #50e3c2;
      box-shadow: -20px 20px #50e3c2; }

.freeTrip {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .freeTrip h2 {
    color: #0c5f4c;
    margin-top: 0px; }
  .freeTrip .content {
    text-align: center; }

header.blog {
  background: url(../assets/blogImage1.jpg);
  background-size: cover; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blogPost {
  width: 63%;
  border: 5px solid #50e3c2;
  border-left: none; }
  .blogPost .image {
    width: 98%;
    position: relative;
    left: 0;
    bottom: 150px; }
    .blogPost .image img {
      -webkit-box-shadow: 20px 20px #50e3c2;
      box-shadow: 20px 20px #50e3c2; }

.blogText,
.comments .content,
.form {
  width: 85%;
  margin-left: 10%;
  margin-bottom: 5%; }
  .blogText h2,
  .comments .content h2,
  .form h2 {
    color: #0c5f4c;
    margin-top: 0; }

.blogInfo {
  color: #063974;
  font-style: italic; }
  .blogInfo span {
    font-weight: bold; }

.blogAside {
  width: 22%;
  margin-top: 10%; }
  .blogAside h3 {
    color: #063974;
    margin-bottom: 5%; }
  .blogAside ul {
    text-align: left;
    padding-left: 5%; }
  .blogAside li {
    color: #50e3c2;
    list-style: disc; }
  .blogAside a {
    color: #2c2c2c;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .blogAside a:hover {
      color: #50e3c2; }
  .blogAside nav a {
    color: #2c2c2c;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.6; }

.comments {
  width: 63%; }
  .comments h3 {
    color: #2c2c2c; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5%; }
  .comment .image {
    width: 10%; }

.commentText {
  width: 85%; }

.commentInfo {
  margin-top: 0;
  font-weight: bold;
  color: #063974; }

header.contact {
  background: url(../assets/contactImage1.jpg);
  background-size: cover; }

.contactBody .form {
  background: #fafffe;
  width: 60%;
  position: absolute;
  top: -150px;
  -webkit-box-shadow: 20px 20px #50e3c2;
  box-shadow: 20px 20px #50e3c2;
  padding: 5%; }

.contactBody {
  position: relative;
  min-height: 600px; }

.contactAside {
  float: right;
  color: #2c2c2c;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6;
  margin-right: 5%;
  margin-top: 10%; }
  .contactAside ul {
    padding: 0; }
  .contactAside i {
    font-size: 1.5rem;
    margin-right: 2.5%; }

.email {
  font-weight: bold; }

@media (max-width: 1200px) {
  header.home .image {
    bottom: -20%; } }

@media (max-width: 1000px) {
  header.home .image {
    display: none; }
  header.home h1 {
    margin-left: 0; }
  .guyana {
    padding: 5% 0%; }
    .guyana .content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .guyana .guyanaText {
      text-align: center;
      width: 100%; }
    .guyana .image {
      display: none; }
  .infoItem {
    width: 100%; }
  .travelTips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0% 5%; }
    .travelTips .travelTipsLeft,
    .travelTips .travelTipsRight {
      width: 95%; }
      .travelTips .travelTipsLeft .text,
      .travelTips .travelTipsRight .text {
        margin-left: 0;
        width: 100%;
        text-align: center; }
      .travelTips .travelTipsLeft .image,
      .travelTips .travelTipsRight .image {
        width: 85%; }
    .travelTips .travelTipsRight .image {
      margin-left: 20%; } }

@media (max-width: 800px) {
  header.home h1 {
    margin-left: 1%; }
  .gallery .image:nth-child(1) {
    display: none; }
  .gallery .image {
    width: calc(50% - 2.5%); } }

@media (max-width: 775px) {
  header.home h1 {
    font-size: 75px;
    font-size: 3.75rem;
    margin-bottom: 25%; }
    header.home h1 span {
      font-size: 42px;
      font-size: 2.1rem; } }

@media (max-width: 550px) {
  .gallery .image {
    float: none;
    margin-right: 0;
    margin-top: 5%;
    width: 100%; } }

@media (max-width: 500px) {
  header.home {
    height: 50vh; }
    header.home h1 {
      display: none; }
  .travelTips .image {
    display: none; } }

@media (max-width: 1150px) {
  .contactAside {
    margin-right: 1.5%; } }

@media (max-width: 1000px) {
  .contactAside {
    float: none;
    clear: both;
    padding-top: 55%;
    padding-bottom: 5%;
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contactAside div {
      width: 33%; }
  .contactBody .form {
    width: 80%; } }

@media (max-width: 900px) {
  .headerTop nav {
    margin-right: 10%; }
  .headerTop .subMenu li {
    display: none; }
  .headerTop button {
    width: 100%;
    padding: 0; }
  .headerTop ul.mainMenu {
    padding-left: 0; }
  .headerTop .mobileMenu {
    text-align: right;
    min-width: 90px;
    display: inline-block;
    position: relative;
    right: 0; }
  .headerTop .mainMenu li:hover li,
  .headerTop .mainMenu li:focus-within li {
    display: inline-block; }
  .headerTop li {
    text-align: right; }
  .headerTop ul.subMenu {
    position: absolute;
    right: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 400px) {
  .headerTop ul.subMenu {
    right: 2%; }
  .headerTop nav {
    margin-right: 2%; }
  .headerTop p.logo {
    margin-left: 2%; } }
